@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 148px;
    height: 1px;
    background-color: $main-color;
    margin: 20px auto 0 auto;
}

@import 'blocks/promo';
@import 'blocks/btn';
@import 'blocks/benefits';
@import 'blocks/title';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/prices';
@import 'blocks/cons';
@import 'blocks/mng';