.cons {
    position: relative;
    height: 340px;
    &__title {
        font-size: 28px;
        line-height: 23px;
        font-weight: 400;
        color: #3a3a3a;
        text-align: center;
    }
    &__icon {
        position: absolute;
        width: 122px;
        height: 122px;
        padding: 10px;
        top: 37px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        z-index: 10;
    }
    &__form {
        display: flex;
        justify-content: center;
        margin-top: 71px;
        width: 100%;
        height: 166px;
        border: solid 1px rgba(0, 0, 0, 0.21);
    }
    &__input {
        position: relative;
        margin: 68px 6px 0 0;
        width: 268px;
        height: 45px;
        border: solid 1px rgba(0, 0, 0, 0.21);
        border-radius: 22.5px;
        padding: 10px 20px;
        input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            opacity: 0.7;
            font-size: 13px;
            line-height: 24px;
            font-weight: 300;
            color: #101010;            
        }
        &:nth-child(3) {
            margin: 68px 0 0 0;
        }
    }
    &__back-btn {
        position: absolute;
        top: 227px;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        height: 65px;
        padding: 10px;
        background-color: #fff;
        z-index: 1;
    }
    .btn {
        &_cons {
            position: absolute;
            top: 237px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }
    }
}