.scheme {
    height: 450px;
    padding: 50px 0 50px 0;
    background-color: #f3f3f3;
    .title {
        margin: 0;
        &:before {
            display: none;
        }
    }
    &__items {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 17px 26px 17px;
        &:nth-child(1) {
            margin-left: 0;
        }
        &:nth-child(4) {
            margin-right: 0;
        }
        &-icon {
            flex: 0 0 57px;
        }
        &-title {
            margin-top: 7px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            color: $main-color;
            text-align: center;
        }
        &-body {
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
            text-align: center;
        }
    }
}